<html>
  <head>
    <title>Mask  No-Mask detection</title>
  </head>
  <body>
    <img id="bg" width=1200px height=900px src="{{ url_for('video_feed') }}">
    <h1>
    	A ML model to detect people withMask and withoutMask!
    </h1>
    <h3>
    	Contatct Details
    	</h3>
    	<a href="mailto:"><h4>aashish.tomar@gmail.com</h4></a>
    	<p></p>
      <a href="https://www.linkedin.com/in/ashish-tomar-product-manager/" target="_blank"><h4>Linkedin</h4></a>
    	<p></p>
      <a href="https://github.com/aashishtomar/Mask_NoMask" target="_blank"><h4>Github</h4></a>

  </body>
</html>